body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 16px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    border-width: 0;
}

/*Classes*/

.gray-text {
    color: gray;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-one {
    flex: 1;
}

.flex-auto {
    flex: auto;
}

.auto-margin {
    margin: auto;
}

.no-margin {
    margin: 0;
}

/*IDs*/

#box-one {
    background-color: #1f2937;
    padding-bottom: 90px;
}

#box-one-container {
    max-width: 1100px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#header ul {
    color: #e5e7eb;
    font-size: 18px;
}

#box-one-content {
    margin-top: 50px;
}

#box {
    margin-right: 40px;
}

#img-box {
    background-color: gray;
    align-items: center;
    justify-content: center;
}

#box-two {
    padding: 8px 0 90px;
}

#box-two-container {
    max-width: 900px;
    flex-direction: column;
    align-items: center;
}

#empty-box {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    border: 6px solid #3882f6;
    border-radius: 10px;
}

#box-three {
    background-color: #e5e7eb;
    padding: 100px 0 80px;
}

#box-three-container {
    max-width: 800px;
    flex-direction: column;
}

#quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

#quote-source {
    font-weight: 700;
    align-self: flex-end;
}

#box-four {
    padding: 90px 0;
}

#blue-box {
    background-color: #3882f6;
    justify-content: space-around;
    padding: 40px 0;
    border-radius: 8px;
    max-width: 1100px;
}

#blue-box-container {
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

#sign-up-bot {
    border: 2px solid white;
}

#footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px;
}